astroid @ file:///C:/ci/astroid_1592481955828/work
backcall==0.2.0
certifi==2020.6.20
colorama==0.4.3
cycler==0.10.0
decorator==4.4.2
ipykernel @ file:///C:/ci/ipykernel_1596208728219/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///C:/ci/ipython_1598883894321/work
ipython-genutils==0.2.0
isort @ file:///C:/ci/isort_1601490271550/work
javabridge @ file:///C:/Users/rolan/Downloads/javabridge-1.0.19-cp37-cp37m-win_amd64.whl
jedi @ file:///C:/ci/jedi_1596472767194/work
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-core==4.6.3
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
matplotlib==3.3.2
mccabe==0.6.1
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy==1.19.2
pandas @ file:///C:/ci/pandas_1601567340151/work
parso==0.7.0
pickleshare @ file:///C:/ci/pickleshare_1594374056827/work
Pillow==7.2.0
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1598885458782/work
Pygments @ file:///tmp/build/80754af9/pygments_1600458456400/work
pylint @ file:///C:/ci/pylint_1598605958085/work
pyparsing==2.4.7
python-dateutil==2.8.1
python-weka-wrapper3==0.1.14
pytz==2020.1
pywin32==227
pyzmq==19.0.2
six==1.15.0
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
tornado==6.0.4
tqdm @ file:///tmp/build/80754af9/tqdm_1601923723745/work
traitlets @ file:///tmp/build/80754af9/traitlets_1600712679583/work
typed-ast==1.4.1
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
wincertstore==0.2
wrapt==1.11.2
